.my-footer{
    background-color:$color_secundary;
    padding-top: 16px;
    padding-bottom: 10px;
    p{
        margin-top: 20px;
        color: $color_border;
    }
    img{
        margin-left: auto!important;
    }
}