@import "../../assets/style/_variables.scss";
footer {
  background-color: $color_secundary;
  padding: 35px 0;
  p {
    display: flex;
    align-items: center;
    color: $color_border;
  }
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin: 0 5%;
}
