@import "../../assets/style/variables";
@import "../../assets/style/btn";

.section1 {
  top: 0;
  left: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("#{$route_img}slider-1.png");
  .content-s1 {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10%;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .section1 {
    .content-s1 {
      .text1-s1,
      .text2-s1 {
        width: 70%;
      }
    }
  }
}
